.header {
  height: 50px;
  background-color: #0079F4;
  padding: 10px 0;
  color: #BCC8D2;
  line-height: 30px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .header-logo {

    i {
      vertical-align: middle;
      font-size: 30px;
      color: #fff;
      margin-left: 0;
    }

    span {
      margin: 0 0 0 5px;
    }
  }

  .user-info {
    vertical-align: baseline;
  }
}
